name: "CLA Assistant"

on:
  issue_comment:
    types: [created]
  pull_request_target:
    types: [opened, closed, synchronize]

permissions:
  actions: write
  contents: write
  pull-requests: write
  statuses: write

jobs:
  CLAAssistant:
    runs-on: ubuntu-latest
    steps:
      - name: "CLA Assistant"
        if: (github.event.comment.body == 'recheck' || github.event.comment.body == 'I have read the CLA Document and I hereby sign the CLA') || github.event_name == 'pull_request_target'
        uses: contributor-assistant/github-action@v2.6.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # The URL to the CLA document
          CLA_DOCUMENT_URL: 'https://github.com/MarkWells-Dev/Catenary/blob/main/.github/CLA.md'
          # The path to the file where signatures will be stored (relative to repository root)
          # We store it in .github to keep the root clean
          PATH_TO_SIGNATURES: '.github/cla-signatures.json'
          # Message that appears in the PR comment
          CUSTOM_PR_SIGN_COMMENT: 'I have read the CLA Document and I hereby sign the CLA'
          # List of users to ignore (e.g. bots)
          ALLOWLIST: 'dependabot[bot],renovate[bot]'
